<div class="footer">
      <div class="menu">
      <table class="tmenu">
        <thead>
          <th id="tf"></th>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="/cookies">cookies</a>
            </td>
            <td>
              <a href="/privacyRight">privacy right</a>
            </td>
            <td>
              <a href="/contacts">Contacts</a>
            </td>
            <td>
              <a href="/us">Heriot-Watt university</a>
            </td>
        </tbody>
      </table>
    </div>
    </div>